/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

body{
    width: 100%;
    background-color: #e8e8e8;
    padding: 70px 0 70px 0;
    background: url(..//image/ellipse-1-copy555.png) 50% 130px no-repeat;
}

.content {
max-width: 841px;
margin: 0 auto; 
}
.top {
    opacity: 0.6;
    font-family: Arial;
    font-size: 14px;
    line-height: 2.86;
    letter-spacing: 2.8px;
    text-align: center;
    color: rgba(39, 61, 70, 0.6);
      }

.header {
    font-size: 36px;
    line-height: 1.39;
    text-align: center;
    color: #273d46;
    margin-bottom: 65px;
}
.img {
    padding: 10px;
    box-shadow: 0px 15px 65px 0 rgba(15, 16, 16, 0.15);
    margin-bottom: 80px;
}
.footer {
  font-size: 24px;
  line-height: 1.67;
  text-align: left;
  color: rgba(39, 61, 70, 0.8);
  padding: 0 45px;
  margin-bottom: 50px;
}

.footer p:nth-child(1){
    padding: 0 0 38px 0px;
}


.down {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 75px;
    margin-bottom: 62px;
}

.down li{
    list-style-type: none;
    list-style-image: url(../image/check-icon.png);
    padding: 0 3px 10px 0;
}

.down li:nth-child(1){
    text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.3);
    text-align: left;
    color: #273d46;
;
}

.down li:nth-child(2){
    font-style: italic;
    color: #80b7b3;

}

.down li:nth-child(3){
    color: #273d46;
    font-weight: 700;

}

.down li:nth-child(4){
    color: rgba(39, 61, 70, 0.3);
    text-decoration: line-through;

}

.down_link {
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    padding: 0 15px;
    color: #fff;
    line-height: 44px;
    border-radius: 25px;
    background-color: #80b7b3;
    letter-spacing: 3px;
} 

.down_link span{
background: url(../image/shape-2.png) right no-repeat;
padding: 0 30px;
}
